flow for compressive strength of concrete.json
[{"id":"46bcc561.c6430c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ed415aaf.558d58","type":"function","z":"46bcc561.c6430c","name":"PreToken","func":"global.set(\"cm\",msg.payload.cm)\nglobal.set(\"bfs\",msg.payload.bfs)\nglobal.set(\"fa\",msg.payload.fa)\nglobal.set(\"wt\",msg.payload.wt)\nglobal.set(\"sp\",msg.payload.sp)\nglobal.set(\"ca\",msg.payload.ca)\nglobal.set(\"fae\",msg.payload.fae)\nglobal.set(\"ag\",msg.payload.ag)\nvar apikey=\"Nfl9gwLTRMO83ylgq_4NGCw2acPqpExAitsIxyXKcHDP\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":580,"wires":[["21dc7b15.2185b4"]]},{"id":"21dc7b15.2185b4","type":"http request","z":"46bcc561.c6430c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":659,"y":568.9999952316284,"wires":[["f6ba5710.47c438"]]},{"id":"1936a1ac.3e95fe","type":"inject","z":"46bcc561.c6430c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":305.5,"y":493.99999809265137,"wires":[["ed415aaf.558d58"]]},{"id":"6793f6bf.8acce8","type":"debug","z":"46bcc561.c6430c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1098.0000114440918,"y":310.99999713897705,"wires":[]},{"id":"f6ba5710.47c438","type":"function","z":"46bcc561.c6430c","name":"Pre Prediction","func":"var cm = global.get('cm')\nvar bfs = global.get('bfs')\nvar fa = global.get('fa')\nvar wt = global.get('wt')\nvar sp = global.get('sp')\nvar ca = global.get('ca')\nvar fae =global.get('fae')\nvar ag = global.get('ag')\nvar token=msg.payload.access_token\nvar instance_id=\"4e3c2dc4-1601-4e86-9eb5-d0b2968050a6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"cement\", \"blast furnace slage\", \"fly ash\", \"water\", \"superplasticizer\", \"coarse aggregate\",\"fine aggregate\", \"age\"], \"values\": [[cm,bfs,fa,wt,sp,ca,fae,ag]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":856.0000076293945,"y":531.9999990463257,"wires":[["f21ad3d.0166c3"]]},{"id":"f21ad3d.0166c3","type":"http request","z":"46bcc561.c6430c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/17428bd1-d161-4644-ab4b-16d38248e2ab/predictions","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":500,"wires":[["6793f6bf.8acce8","a27a6cd4.bb893"]]},{"id":"a55330b9.ec198","type":"ui_form","z":"46bcc561.c6430c","name":"","label":"","group":"f9dce465.00de48","order":1,"width":0,"height":0,"options":[{"label":"cement","value":"cm","type":"number","required":true,"rows":null},{"label":"blast furnace slage","value":"bfs","type":"number","required":true,"rows":null},{"label":"Fly Ash","value":"fa","type":"number","required":true,"rows":null},{"label":"water","value":"wt","type":"number","required":true,"rows":null},{"label":"superplasticizer","value":"sp","type":"number","required":true,"rows":null},{"label":"coarse aggregate","value":"ca","type":"number","required":true,"rows":null},{"label":"fine aggregate","value":"fg","type":"number","required":true,"rows":null},{"label":"Age\t","value":"ag","type":"number","required":true,"rows":null}],"formValue":{"cm":"","bfs":"","fa":"","wt":"","sp":"","ca":"","fg":"","ag":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":251,"y":622.9999952316284,"wires":[["ed415aaf.558d58"]]},{"id":"6d06398f.7cdbf8","type":"ui_text","z":"46bcc561.c6430c","group":"f9dce465.00de48","order":2,"width":0,"height":0,"name":"","label":"prediction ","format":"{{msg.payload}}","layout":"row-spread","x":987.6000366210938,"y":628.2000074386597,"wires":[]},{"id":"a27a6cd4.bb893","type":"function","z":"46bcc561.c6430c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":809.6000366210938,"y":371.60000133514404,"wires":[["6d06398f.7cdbf8"]]},{"id":"f9dce465.00de48","type":"ui_group","z":"","name":"compressive strength of concrete","tab":"c193d83f.92dc98","order":1,"disp":true,"width":"6","collapse":false},{"id":"c193d83f.92dc98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]